.sp{
  display: none;
}

header{
  background-color: rgb(208, 208, 252);
}
footer{
  background-color: rgb(208, 208, 252);
  position: fixed;/*←絶対位置*/
  bottom: 0 !important; /*下に固定*/
  width: 100%;
  text-align: center;
}
footer .nav{
  margin-left: 60%;
  padding-top:10px;
  height: 30px;
}
.nav {
    list-style: none;
    overflow: hidden;
    margin-left: 20%;
  }
   
.nav li {
    list-style: none;
    width: 140px;
    text-align: center;
    float: left;
  }
   
.nav li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

#footer_nav a{
  font-size: 13px;

}
#logout{
  width: 20px;
}
.button{
  margin: 50px;
}