
*{
	margin: 0;
	padding: 0;
}

body main{
    width: 70%;
    margin: auto;

}
h3{
    text-align: center;
}

.question{
    display: none;
}
.question:first-of-type {
    display: block;
}
#box{
    border: solid 1px darkgray;
}