/* html,body{
    overflow: none;
} */
*{
	margin: 0;
	padding: 0;
}
/* 
body main{
    width: 70%;
    margin: auto;

} */
h3{
    text-align: center;
    margin-bottom: 50px;
}

.question{
    display: none;
}
.question:first-of-type {
    display: block;
}
#box{
    border: solid 1px darkgray;
    font-size: 20px;
    padding: 5px;
}
.userInf input{
    border: none;
}
.contents{
    width: 70%;
    margin: auto;
    margin-top:50px;
    /* overflow: scroll; */
  }
/* .sub_contents{
    margin: auto;
  } */
/* #admin_table{
    margin: auto;
    width: 60%;
} */
