
*{
	margin: 0;
	padding: 0;
}

header{
  background-color: rgb(208, 208, 252);
}
footer{
  background-color: rgb(208, 208, 252);
}
.nav {
    list-style: none;
    overflow: hidden;
    margin-left: 20%;
  }
   
.nav li {
    list-style: none;
    width: 140px;
    text-align: center;
    float: left;
  }
   
.nav li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

#footer_nav{
  font-size: 12px;

}
#logout{
  width: 20px;
}